<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>RuMtmp</display-name>
	<context-param>
		<param-name>org.eclipse.rap.applicationConfiguration</param-name>
		<param-value>ee.ut.cs.rum.internal.RumConfiguration</param-value>
	</context-param>
	<listener>
		<listener-class>ee.ut.cs.rum.internal.rap.RumRWTServletContextListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>RuM</servlet-name>
		<servlet-class>org.eclipse.rap.rwt.engine.RWTServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RuM</servlet-name>
		<url-pattern>/main</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>rumFileServlet</servlet-name>
		<servlet-class>ee.ut.cs.rum.internal.rap.RumFileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>rumFileServlet</servlet-name>
		<url-pattern>/rwt-resources/*</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>